.locate {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    .btn {
        font-size: 18px;
        padding: 1.5rem;
        width: 100%;
    }

    .modal {
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;

        .res {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .result {
                @extend .res;
                gap: .5rem;
                flex-direction: row;

                .span {
                    color: #00759B;
                }
            }
        }
    }
}