.locate {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    .btn {
        font-size: 18px;
        padding: 1.5rem;
        width: 100%;
    }

    .modal {
        background-color: #fff;
    }
}